@media screen and (max-width: 500px) {

  /* ------------------------------------------------ SCROLL CONTAINER --------------------------------------------------------- */

  .unreadMsgsBtn {
    position: absolute;
    z-index: 10;
    border: 1px solid white;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    left: calc(90vw - 50px);
    top: calc(70vh + 25px);
    color: blueviolet;
    box-shadow:
    -3px 2px 4px #00ffff,
    3px -2px 4px #ff00ff;
  }

  .unreadMsgsBtn i {
    font-size: 40px;
    text-shadow:
    -1.5px 1px 2px #00ffff,
    1.5px -1px 2px #ff00ff;
  }
  

  /* ------------------------------------------------ MESSAGES --------------------------------------------------------- */

  .peopleMessageContainer, .myMessageContainer {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    width: 90%;
    position: relative;
  }

  .myMessageContainer {
    width: calc(90% - 52px - 5px);
    margin-left: calc(10% + 48px);
  }

  .profileImg {
    width: 52px;
    height: 52px;
    border: 1px solid white;
    border-radius: 50px;
    margin-left: 5px;
  }

  .messageContainer {
    border-radius: 5px;
    margin-top: 10px;
  }

  .leftTriangle, .rightTriangle {
    background-color: rgb(227, 227, 227);
    height: 15px;
    margin-top: 14px;
    z-index: -1;
    position: absolute;
    transform: rotate(45deg);
    width: 15px;
  }

  .leftTriangle { right: calc(100% - 70px - 10px); }
  .rightTriangle { right: 4px; }

  .peopleMessageContainer .messageContainer { width: calc(100% - 70px); }
  
  .myMessageContainer .messageContainer {
    width: calc(100%);
    margin-right: 9px;
  }

  .message {
    padding: 10px 0;
  }


  
  /* ------------------------------------------------ MESSAGE INPUT --------------------------------------------------------- */


  .messageForm {
    width: 90vw;
    max-height: calc(20vh);
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .messageInput {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 18px;
    width: calc(90vw - 55px);
  }

  .messageFormBtn {
    width: 50px;
    aspect-ratio: 1;
    color: white;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .messageFormBtn i {
    font-size: 40px;
    display: flex;
  }

}