@media screen and (max-width: 500px) {
  
  
  /* ------------------------------------------------ LOADER --------------------------------------------------------- */


  .pageLoader {
    position: absolute !important;
    top: calc(50% - 3rem);
  }

  .chatLoader {
    top: calc(-50% + 3rem);
    left: calc(50% - 3rem);
    scale: .8;
  }

  .loadMoreLoader {
    left: calc(50% - 3rem);
    scale: .4;
  }

  .loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation: pulsOut 1.8s ease-in-out infinite;
    filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
  }
  .loader:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 1rem #fff;
    animation-name: pulsIn;
  }
  .loader:after {
    width: calc(100% - 2rem);
    padding-bottom: calc(100% - 2rem);
    box-shadow: 0 0 0 0 #fff;
  }

  @keyframes pulsIn {
    0% {
      box-shadow: inset 0 0 0 1rem #fff;
      opacity: 1;
    }
    50%, 100% {
      box-shadow: inset 0 0 0 0 #fff;
      opacity: 0;
    }
  }

  @keyframes pulsOut {
    0%, 50% {
      box-shadow: 0 0 0 0 #fff;
      opacity: 0;
    }
    100% {
      box-shadow: 0 0 0 1rem #fff;
      opacity: 1;
    }
  }


  /* ------------------------------------------------ NAV --------------------------------------------------------- */

  .nav {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .imageContainer {
    border-radius: 50px;
    height: 74px;
    width: 74px;
    border: 2px solid white;
    overflow: hidden;
    margin-right: 5vw;
  }

  .navOptionsContainer {
    list-style: none;
    position: absolute;
    z-index: 1;
    border: 2px solid rgba(50, 50, 50, 0.782);
    right: 5vw;
    top: 100px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #575757;
    font-family: var(--font-roboto);
  }
  
  .navOptions {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 20px;
    color: white;
    min-width: 200px;
    cursor: pointer;
  }
  
  .navOptions i {
    font-size: 20px;
    margin-right: 10px;
  }


  /* ------------------------------------------------ SCROLL CONTAINER --------------------------------------------------------- */


  .scrollMessagesContainer {
    width: 90vw;
    height: 70vh;
    margin-top: 10px;
    border: 1px solid white;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .loadMoreBtn {
    min-height: 60px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .unreadMsgsBtn {
    position: absolute;
    z-index: 10;
    border: 1px solid white;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    left: calc(90vw - 50px);
    top: calc(70vh + 25px);
    color: blueviolet;
    box-shadow:
    -3px 2px 4px #00ffff,
    3px -2px 4px #ff00ff;
  }

  .unreadMsgsBtn i {
    font-size: 40px;
    text-shadow:
    -1.5px 1px 2px #00ffff,
    1.5px -1px 2px #ff00ff;
  }


  /* ------------------------------------------------ MESSAGES --------------------------------------------------------- */

  .peopleMessageContainer, .myMessageContainer {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    width: 90%;
    position: relative;
  }

  .myMessageContainer {
    width: calc(90% - 52px - 5px);
    margin-left: calc(10% + 48px);
  }

  .profileImg {
    width: 52px;
    height: 52px;
    border: 1px solid white;
    border-radius: 50px;
    margin-left: 5px;
  }

  .messageContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(227, 227, 227);
    margin-top: 10px;
    color: black;
  }

  .leftTriangle, .rightTriangle {
    background-color: rgb(227, 227, 227);
    height: 15px;
    margin-top: 14px;
    z-index: -1;
    position: absolute;
    transform: rotate(45deg);
    width: 15px;
  }

  .leftTriangle { right: calc(100% - 70px - 10px); }
  .rightTriangle { right: 4px; }

  .peopleMessageContainer .messageContainer { width: calc(100% - 70px); }
  
  .myMessageContainer .messageContainer {
    width: calc(100%);
    margin-right: 9px;
  }

  .content {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
    color: #575757;
  }

  .date {
    text-align: end;
    font-size: 12px;
    font-weight: 500;
  }



  /* ------------------------------------------------ MESSAGE INPUT --------------------------------------------------------- */


  .messageForm {
    width: 90vw;
    max-height: calc(20vh);
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .messageInput {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 18px;
    width: calc(90vw - 55px);
  }

  .messageFormBtn {
    width: 50px;
    aspect-ratio: 1;
    color: white;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .messageFormBtn i {
    font-size: 40px;
    display: flex;
  }

}